.Wokoo {
  position: fixed;
  text-align: center;
  width: 360px;
  height: 600px;
  bottom: 0;
  right: 0;
  z-index: 999;
}
.Wokoo-logo {
  height: 30vmin;
  border-radius: 50%;
  pointer-events: none;
}


.Wokoo-header {
  // background-color: #6c4d25;
  background:rgba(0,0,0,0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100%;
}


.Wokoo-close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.Wokoo-hide {
  position: fixed;
  text-align: center;
  width: 40px;
  height: 20px;
  // background-color: #6c4d25;
  bottom: 0;
  right: 0;
  z-index: 999;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  color: #fff;
  cursor: pointer;
  background:rgba(0,0,0,0.7);
}



